<header class="masthead text-left">
<p></p>
<h3 style="text-align: left;">Join us! We are hiring:</h3>
<ul>
    <li><a href="https://www.bristol.ac.uk/jobs/find/details/?jobId=371597">Lecturer in Financial Technology</a>. 
        Pathway 3 - teaching focused (deadline: 09 Mar 2025).
    </li>
    <li><a href="https://www.bristol.ac.uk/jobs/find/details/?jobId=372157">Lecturer / Senior Lecturer in Financial Technology</a> 
        Pathway 1 - research and teaching (deadline: 23 Mar 2025).
    </li>
</ul> 
<hr>
</header>
