<header class="masthead text-left">

<p></p>
<h4 style="text-align: left; color:darkmagenta;">Newsflash. Join us - fully funded PhD position, starting Sep 2026.
    Apply now:</h4>
<ul>
    <li><a href="https://www.findaphd.com/phds/project/collective-intelligence-for-llm-driven-financial-agents/?p194363">
        Collective Intelligence for LLM-Driven Financial Agents at University of Bristol</a>. 
        Closing date: 31/03/2026. 
    </li>
</ul> 
<!--<h4 style="text-align: left; color:darkmagenta;">Newsflash. Join us - we are hiring - apply now:</h4>
<ul>
    <li><a href="https://www.bristol.ac.uk/jobs/find/details/?jobId=384318">
        Lecturer/ Senior Lecturer/ Associate Professor in Financial Technology</a>. 
        Closing date: 03/02/2026. 
    </li>
</ul> -->
<hr>
</header>
