<header class="masthead text-center">
<p></p>
<H2><span style="color:#0095a9">Newsflash: We are hiring!</span></H2>
<ul>
    <li><a href="https://www.bristol.ac.uk/jobs/find/details/?jobId=371597">Lecturer in Financial Technology</a>. 
        Pathway 3 - teaching focused (deadline: 09 Mar 2025).
    </li>
    <li><a href="https://www.bristol.ac.uk/jobs/find/details/?jobId=372157">Lecturer / Senior Lecturer in Financial Technology</a> 
        Pathway 1 - research and teaching focused (deadline: 23 Mar 2025).
    </li>
</ul> 
<hr>
</header>
